p{
    font-size: 14px;
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
.redOneOTwo{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    list-style: upper-roman;
}